./FrontEnd/.env
./Backend/.env
npm install jsonwebtoken
npm init
npm install nodemon cors express
git config http.postBuffer 524288000
npm install router
npm install puppeteer-core
npm install mongoose