@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

* {
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



.top {
  margin-top: 2rem;
}

.top .logo {
  display: flex;
  height: 4rem;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.top .close {
  display: none;
}

/* Mid of the dashboard .... */

/* .mid-top{
  display: grid;
  grid-template-columns: auto 20rem;
  gap: 1rem;
} */

/* .mid-top .mid-left .cards{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1rem;
  font-size: large;
  font-weight: 500;
  justify-content: space-around;
} */

/* .cards > div{
  width: 100%;
} */
/* .mid-top .mid-left .cards .card{
  height: 12rem;
  margin: auto;
  padding: 1rem;
  border-radius: 16px;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
} */

/* .mid-top .mid-left .cards .leetcode{
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.mid-top .mid-left .cards .codechef{
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.mid-top .mid-left .cards .codeforces{
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}  */

/* .mid-top .mid-left .cards .leetcode:hover{
  box-shadow: 0;
} */

/* .mid-top .mid-left .cards .card .card-details{
  width: 60%;
  line-height: 2rem;
}

.mid-top .mid-left .cards .card .progress{
  width: 40%;
  position: relative;
  width: 92px;
  height: 92px;
  border-radius: 50%;
  bottom: 0;
} */

.mid-top .mid-left .cards .card .progress svg {
  width: 8rem;
  height: 8rem;
}

.mid-top .mid-left .cards .card .progress svg circle {
  fill: none;
  stroke: green;
  stroke-width: 14;
  stroke-linecap: round;
  transform: translate(5px, 5px);
  stroke-dasharray: 110;
  stroke-dashoffset: 92;
}

.mid-top .mid-left .cards .leetcode .progress svg circle {
  stroke-dasharray: 30;
  stroke-dashoffset: 92;
  stroke: #fa5a7d;
}

.mid-top .mid-left .cards .codechef .progress svg circle {
  stroke-dasharray: -50;
  stroke-dashoffset: 92;
  stroke: #ff947a;
}

.mid-top .mid-left .cards .codeforces .progress svg circle {
  stroke-dasharray: -50;
  stroke-dashoffset: 130;
  stroke: #3cd856;
}

.mid-top .mid-left .cards .card .progress .number {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.card-details-top {
  padding: 0.4rem;
  transform: translateY(-40%);
}

/* git hub ui design css code */

.github-card {
  height: 2.5rem;
  margin-top: 0.2rem;
}

.github-card h1 {
  height: 100%;
  width: 8rem;
  border-radius: 13px;
  display: flex;
  align-items: center;
  padding: 0 0 0 0.5rem;
  font-size: large;
  font-weight: 500;
}

/* graph git  */

/* .graph-git {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 1rem;
  gap: 0.5rem;
} */

/* .graph-git .git-profile{
  background: #F3E8FF;
} */

.two-graph {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.two-graph > div {
  width: 50%;
  flex: 1;
}

/* mid section graph */

.view-more .view-more-span {
  filter: blur(2px);
}

/* SHOWCCASE SECTION OF MAIN SCREEN */

/* .showcase-top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  margin-top: 0.5rem;
} */

.showcase-favourite h1,
.showcase-socails h1 {
  text-align: center;
  font-weight: 600;
  font-size: larger;
  border-radius: 13px;
  padding: 0.5rem;
}

.repo-favourites {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}

.repo-favourite {
  display: grid;
  grid-auto-flow: column;
  padding: 0.6rem;
  border-radius: 13px;
  color: white;
  background: #6d6027;
  align-items: center;
}

.repo-favourite img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

/* social medias section */

.socail-medias {
  display: grid;
  gap: 1rem;
}

.social-media {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 13px;
  gap: 1rem;
}

.social-media-inner {
  display: grid;
  align-items: center;
  grid-auto-flow: row;
}

/* Shimmer */

/* background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% ); */

.up-bg {
  background-color: #dbcbd8;
  background-image: linear-gradient(316deg, #dbcbd8 0%, #2e4057 74%);
}
