@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer utilities {
  .valid_section {
    @apply w-full h-[100vh] flex items-center justify-center bg-cover;
  }
  .valid_box {
    @apply bg-[rgba(23,24,29,255)] text-white w-[50rem] h-[35rem] rounded-xl p-3 overflow-hidden;
  }
  .valid_top {
    @apply text-center flex flex-col gap-y-4;
  }
  .validation_div form {
    @apply grid grid-cols-2 gap-8 mt-6;
  }
  .validation_div > form > div {
    @apply flex flex-col gap-y-4 w-[80%] m-auto h-[10rem];
  }
  .input_field {
    @apply bg-[rgba(30,35,38,255)] p-3 rounded-md ease-in duration-200;
  }
  .input_field:focus {
    @apply bg-[rgba(45,49,53,255)];
  }
  .errorbox {
    @apply bg-[#321818] border-2 border-[#d52726] flex
        flex-row gap-x-2;
  }
  .warningbox {
    @apply bg-[rgba(51,38,17,255)] border-2 border-[rgba(255,159,10,255)] flex
                    flex-row gap-x-2;
  }
  .validationbox {
    @apply bg-[rgba(17,37,53,255)] border-2 border-[rgba(94,180,254,255)] flex flex-row gap-x-2;
  }
  .successbox {
    @apply bg-[rgba(25,48,30,255)] border-2 border-[rgba(48,209,88,255)] flex flex-row gap-x-2;
  }
  .submit_div {
    @apply text-center col-span-2;
  }
  .submit_but {
    @apply bg-[rgba(0,144,254,255)] text-white inline-block p-3 rounded-xl hover:bg-[#2596be];
  }
}
